annotated-types
anyio
asttokens
click
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
requests==2.26.0
Flask==2.1.0
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
